<div class="body">
    <button type="submit" (click)="logout()" style="margin: 2%;border-radius: 3%;border: 2px solid orange;color: orange;background-color: transparent;"> Log Out</button>
    <h1 class="text-center" id="heading">Welcome {{name}}</h1>
         <div >
            <button type="submit" (click)="navigateToTeacherGetStudentData()" style="margin: 2%;border-radius: 3%;border: 2px solid orange;color: orange;background-color: transparent;"> Search Student Details </button>
   
         </div>
         <br>
         <h1 class="text-center" id="heading">Your Profile</h1><br><br>
         <div style="width: 100%;padding-left: 2%;"> 
            <div class="row">
                <div class="col-12 col-sm-6">
                 <h5  class="heading"><strong class="strong-heading"> Name:</strong> {{name}}</h5>
                 <h5  class="heading"><strong class="strong-heading"> Age:</strong> {{age}}</h5>
                 <h5  class="heading"><strong class="strong-heading"> Address:</strong> {{add}}</h5>
                 <h5  class="heading"><strong class="strong-heading"> Date Of Birth:</strong> {{dob}}</h5>
                 <h5  class="heading"><strong class="strong-heading"> Father's Name:</strong> {{father}}</h5>
                 <h5  class="heading"><strong class="strong-heading"> Mother's Name:</strong> {{mother}}</h5>
                 
                </div>
                <div class="col-12 col-sm-6">
                 <h5  class="heading"><strong class="strong-heading"> Phone Number:</strong> {{phone}}</h5>
                 <h5  class="heading"><strong class="strong-heading"> Scholar Number:</strong> {{scholarno}}</h5>
                 <h5  class="heading"><strong class="strong-heading"> Year Of Joining:</strong> {{yoj}}</h5>
                 <h5  class="heading"><strong class="strong-heading"> Transfer Certificate:</strong> <a href="{{pod}}">Click Here</a></h5>
                 <h5  class="heading"><strong class="strong-heading"> Status:</strong> {{status}}</h5>
                 <h5  class="heading"><strong class="strong-heading"> Amount Status:</strong> {{amountstatus}}</h5>
                </div>
            </div>
     </div>
     <br>
     <!--////////////////////////////////////////////////////-->
     <!--Trigger modal-->
   <button  type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" style="border-radius: 3%;border: 2px solid orange;color: orange;background-color: transparent;margin-left: 2%;">
     <h3 class="text-center" style="font-family: 'Akaya Telivigala', cursive;"> Update Password</h3>
    </button>

     <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">Update Password</h5>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
                       
<form [formGroup]="passwordchangeform" (ngSubmit)="update(passwordchangeform.value)">
<label>
  Teacher's Id :  </label>
  <input type="text" formControlName="id" [ngClass]="{ 'is-invalid': passwordchangeform.get('id').touched && passwordchangeform.get('id').invalid }" class="form-control" placeholder="Teacher's Id" >
  <div class="invalid-feedback"> <div>Id Required </div></div>
<label><br>
 Old Password :  </label>
  <input type="password" formControlName="oldpassword" [ngClass]="{ 'is-invalid': passwordchangeform.get('oldpassword').touched && passwordchangeform.get('oldpassword').invalid }" class="form-control" placeholder="Old Password" >
  <div class="invalid-feedback"><div> New Password Required</div></div>
  
  <label><br>
     New Password :  </label>
      <input type="password" formControlName="newpassword" [ngClass]="{ 'is-invalid': passwordchangeform.get('newpassword').touched && passwordchangeform.get('newpassword').invalid }" class="form-control" placeholder="New Password (Minimum 6 characters)" >
      <div class="invalid-feedback"><div> New Password Required</div></div>
      <br>
<button class="btn btn-primary">Submit</button>
</form>
  </div>
  
</div>
</div>
</div>
     <br><br><br>
  <!--Accordian          ////////////////////////////////-->
  <div class="d-flex justify-content-center" >
    <div style="background-color: rgba(245, 242, 237, 0.842);width: 50%; ">
<div class="accordion" id="accordionExample" *ngFor="let x of y" style="width: 100%;">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          {{x.year}}
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <h5> Class: {{x.adminofclass}} </h5>
            <h5> Year: {{x.year}} </h5>
            <h5> Classes: {{x.classes}} </h5>
             </div>
      </div>
    </div>
    </div>
</div>
</div>

<br><br><br>
<h1 class="text-center" id="heading">Salary And Cashflow</h1><br><br>
        
<div class="d-flex justify-content-center">
  <form [formGroup]="cashflowForm" (ngSubmit)="getcashFlow(cashflowForm.value.month)">
    <label class="strong-heading">Month :</label><br>
    <select formControlName="month" [ngClass]="{ 'is-invalid': cashflowForm.get('month').touched && cashflowForm.get('month').invalid }" >
      <option value="january">January</option>
      <option value="feburary">Feburary</option>
      <option value="march">March</option>
      <option value="april">April</option>
      <option value="may">May</option>
      <option value="june">June</option>
      <option value="july">July</option>
      <option value="august">August</option>
      <option value="september">September</option>
      <option value="october">October</option>
      <option value="november">November</option>
      <option value="december">December</option>

    </select>
    <br>
    <label class="strong-heading">Year :</label><br>

    <input type="number" formControlName="year" [ngClass]="{ 'is-invalid': cashflowForm.get('year').touched && cashflowForm.get('year').invalid }" class="form-control" placeholder="Enter Year " >
    
    <br><br>
        
    <button class="btn btn-primary">Submit</button>
   </form>
  </div>
  <br><br>
  <div class="d-flex justify-content-center">
    <div>
    <div *ngFor="let x of z" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; max-width: 70vw;">
      <h5  class="heading"><strong class="strong-heading"> Date : </strong> {{x.date}}</h5>
      <h5  class="heading"><strong class="strong-heading"> Amount : </strong> {{x.amount}}</h5>
      <h5  class="heading"><strong class="strong-heading"> Year : </strong> {{x.year}}</h5>
      <hr style="height: 5px;">
    </div>
  </div>
  <p style="color: red;" *ngIf="found"> * Data Not Found</p>
  </div>
  <br><br><br>
</div>