<div class="contianer-fluid" id="body">
    <h1 class="text-center" id="heading">Rumpy Dumpy</h1>
    <h5 class="text-center" id="heading-para">Welcome to Rumpy Dumpy's User portal</h5>
    <div class="d-flex justify-content-center">
      <!--Trigger modal-->
      <button  type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" style="border-radius: 3%;border: 2px solid orange;color: orange;background-color: transparent;margin-top: 35vh;">
         <h3 class="text-center" style="font-family: 'Akaya Telivigala', cursive;"> Login Here </h3>
        </button>
        
         
         
        </div>
 <p class="text-center" *ngIf=cred style="color: red;"> *Invalid Credentials Try Again</p>
         <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login Here</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
                           
<form [formGroup]="loginform" >
  <label>
      Unique Id :  </label>
      <input type="text" formControlName="id" [ngClass]="{ 'is-invalid': loginform.get('id').touched && loginform.get('id').invalid }" class="form-control" placeholder="Unique Id" >
      <div class="invalid-feedback"> <div>Id Required </div></div>
  <label><br>
      Password :  </label>
      <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': loginform.get('password').touched && loginform.get('password').invalid }" class="form-control" placeholder="Password" >
      <div class="invalid-feedback"><div> Password Required</div></div>
      <br>
  <button class="btn btn-primary" data-bs-dismiss="modal" (click)="submit(loginform.value)">Submit</button>
</form>
      </div>
      
     
    
    </div>
  </div>
</div>
      
</div>
