.body{
    background-image: linear-gradient(to bottom right,rgb(5, 5, 107),rgb(150, 50, 150),rgb(5, 5, 107));
    height: auto;
    width: 100%;
    min-height: 100vh;
}
#heading{
    margin-top: 10vh;
    color: orange;
    letter-spacing: 2px;
    font-family: 'Redressed', cursive;
    font-size: 40px;
}
.heading{
    
    color: yellow;
    letter-spacing: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.strong-heading{
    color: rgb(253, 145, 4);
    font-size: larger;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}